<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NobelLaureatesFinder.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20564D4426B0C8C8002F8076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20564D5A26B0C8CA002F8076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20564D6526B0C8CA002F8076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
